<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="Detailed">
            <remove statusCode="502" subStatusCode="-1" />
            <remove statusCode="501" subStatusCode="-1" />
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="412" subStatusCode="-1" />
            <remove statusCode="406" subStatusCode="-1" />
            <remove statusCode="405" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="401" subStatusCode="-1" />
            <error statusCode="401" prefixLanguageFilePath="" path="/error.asp" responseMode="ExecuteURL" />
            <error statusCode="403" prefixLanguageFilePath="" path="/error.asp" responseMode="ExecuteURL" />
            <error statusCode="404" prefixLanguageFilePath="" path="/error.asp" responseMode="ExecuteURL" />
            <error statusCode="405" prefixLanguageFilePath="" path="/error.asp" responseMode="ExecuteURL" />
            <error statusCode="406" prefixLanguageFilePath="" path="/error.asp" responseMode="ExecuteURL" />
            <error statusCode="412" prefixLanguageFilePath="" path="/error.asp" responseMode="ExecuteURL" />
            <error statusCode="500" prefixLanguageFilePath="" path="/error.asp" responseMode="ExecuteURL" />
            <error statusCode="501" prefixLanguageFilePath="" path="/error.asp" responseMode="ExecuteURL" />
            <error statusCode="502" prefixLanguageFilePath="" path="/error.asp" responseMode="ExecuteURL" />
        </httpErrors>
        <staticContent>
            <mimeMap fileExtension=".hwp" mimeType="application/unknown" />
        </staticContent>
    </system.webServer>
</configuration>
