@charset "euc-kr";/* CSS Document */
body { font-family:"����", dotum, Arial; color:#555555; margin:0px; font-size:12px; height:100%; min-height:100%; margin:0; padding:0; word-spacing:-1px; } 
img { border:0px; } 

* html #body { height: 100%; } 

/*div*/
#body { min-height: 100%; margin: -100px 0 -50px; height:100%; } 
#content-area { padding-top:100px; padding-bottom:50px; } 

/*����������*/
.p_text { font-size:12px; font-weight:bold; } 
.p_text:link { text-decoration:none; color:#04438f; } 
.p_text:visited { text-decoration:none; color:#04438f; } 
.p_text:hover { text-decoration:underline; color:#04438f; } 


/*Ķ����*/
.calender { font-size:11px; color:#000; } 
.calender:link { text-decoration:none; } 
.calender:visited { text-decoration:none; } 
.calender:hover { text-decoration:underline; } 

.calender_bold { font-size:11px; color:#000; font-weight:bold; } 

.calender_red { font-size:11px; color:#FF0000; } 
.calender_red:link { text-decoration:none; } 
.calender_red:visited { text-decoration:none; } 
.calender_red:hover { text-decoration:underline; } 

.calender_red2 { font-size:11px; color:#FF0000; font-weight:bold; } 

.calender_blue { font-size:11px; color:#0000CC; font-weight:bold; } 
.calender_blue:link { text-decoration:none; } 
.calender_blue:visited { text-decoration:none; } 
.calender_blue:hover { text-decoration:underline; } 

.n_text { font-size:11px; color:#424242; } 
.n_text:link { text-decoration:none; } 
.n_text:visited { text-decoration:none; } 
.n_text:hover { text-decoration:underline; } 

.n_num { font-size:11px; color:#000; font-weight:bold; } 
.n_num:link { text-decoration:none; } 
.n_num:visited { text-decoration:none; } 
.n_num:hover { text-decoration:underline; } 

/*�糭����*/
.news_title { font-size:12px; color:#fff; font-weight:bold; line-height:20px; } 
.news_title:link { text-decoration:none; } 
.news_title:visited { text-decoration:none; } 
.news_title:hover { text-decoration:underline; } 

.news_text { font-size:11px; color:#fff; line-height:16px; } 

/*��������/�Խ���*/
.notice_t { font-size:11px; color:#424242; } 
.notice_t:link { text-decoration:none; } 
.notice_t:visited { text-decoration:none; } 
.notice_t:hover { text-decoration:underline; } 

.notice_b { font-size:11px; color:#196589; font-weight:bold; } 

.date { font-size:11px; color:#424242; } 


/*�˻�â*/
.btn_search { text-align:right; vertical-align:middle; margin-top:2px; } 
.search { font-size:12px; color:#646564; } 
.input_text1 { font-size:11px; } 


#head { position: relative; z-index: 1; } 
#body { min-height: 100%; margin: -100px 0 -50px; height:100%; } 
#content-area { padding-top:100px; padding-bottom:50px; } 


/*foot*/
#foot { height: 50px; background: #f8f8f8; vertical-align: bottom; bottom: 0; clear:both; } 
.foot:link { text-decoration:none; color:#405e72; font-size:11px; } 
.foot:visited { text-decoration:none; color:#405e72; font-size:11px; } 
.foot:hover { text-decoration:underline; color:#405e72; font-size:11px; } 
.form { font-size:11px; color:#8e97a0; vertical-align:middle; } 

/*ž����޴�*/
.tsmenu { font-size:12px; font-weight:bold; padding-left:10px; line-height:18px; } 
.tsmenu:link { text-decoration:none; color:#000; } 
.tsmenu:visited { text-decoration:none; color:#000; } 
.tsmenu:hover { text-decoration:underline; color:#009900; } 


/*��ü�޴�*/
.all_title { font-size:17px; font-weight:bold; color:#00309c; padding-left:14px; } 
.a_text { font-size:12px; font-weight:bold; padding-left:14px; } 
.a_text:link { text-decoration:none; color:#000; } 
.a_text:visited { text-decoration:none; color:#000; } 
.a_text:hover { text-decoration:underline; color:#009159; } 






