body	{
	scrollbar-face-color:#ECECEC;
	scrollbar-highlight-color: #E3E1DE;
	scrollbar-shadow-color: #CCCCCC;
	scrollbar-3dlight-color: #F5F5F5;
	scrollbar-darkshadow-color: #ffffff;
	scrollbar-track-color: #FAFAFA;
	scrollbar-arrow-color: #646464;	
	margin:0 0 0 0;	
} 
td	{ font-family:Gulim,dotum; font-size:9pt; color:#5e5e5e; line-height:160% } 
a 	{text-decoration:none; color: 000000;}
a:hover {text-decoration:none; color: 355ca6}
img 	{border:none}

textarea{ font-family:Gulim; font-size:9pt; color:#474747; padding:5 5 5 5; } 
select	{ font-size:9pt; color:#7F7F7F; font-family:Gulim; }
input	{ font-size:9pt; height:19px; font-family:Gulim; padding-top:2px; color:#474747;}
